In [125]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [126]:
df = pd.read_csv('dirty_housing_data.csv')

In [127]:
df.shape

(205, 6)

In [128]:
df.Age_of_house_yrs

0       NaN
1       0.0
2       NaN
3      30.0
4       0.0
       ...
200    30.0
201     2.0
202     0.0
203    15.0
204     5.0
Name: Age_of_house_yrs, Length: 205, dtype: float64

In [129]:
df.describe()

       Age_of_house_yrs          Price
count        184.000000     195.000000
mean           9.679348  399166.825641
std            9.745415  214702.705077
min            0.000000   50126.000000
25%            1.000000  213030.000000
50%           10.000000  377073.000000
75%           15.000000  592520.500000
max           30.000000  791804.000000

In [130]:
df.isnull()

,Area_sqft,Bedrooms,Distance_to_city_km,Age_of_house_yrs,Has_Garage,Price
0,False,False,False,True,False,False
1,False,False,False,False,False,False
2,False,False,False,True,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
200,False,False,False,False,False,False
201,False,False,False,False,False,False
202,False,False,False,False,False,False
203,False,False,False,False,False,False
204,False,False,False,False,False,False

In [131]:
df.isnull().sum()

Area_sqft               0
Bedrooms               20
Distance_to_city_km     1
Age_of_house_yrs       21
Has_Garage              0
Price                  10
dtype: int64

In [132]:
df.Bedrooms

0          4
1          4
2      three
3      three
4          3
       ...
200    three
201        2
202    three
203        1
204    three
Name: Bedrooms, Length: 205, dtype: object

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Area_sqft            205 non-null    object
 1   Bedrooms             185 non-null    object
 2   Distance_to_city_km  204 non-null    object
 3   Age_of_house_yrs     184 non-null    float64
 4   Has_Garage           205 non-null    object
 5   Price                195 non-null    float64
dtypes: float64(2), object(4)
memory usage: 9.7+ KB

In [134]:
for col in ['Has_Garage']:
    df[col] = df[col].astype(str).str.strip().replace({"nan":np.nan})

In [135]:
df.Has_Garage

0      yes
1       No
2      yes
3        N
4      Yes
      ...
200      N
201    yes
202     no
203      Y
204    Yes
Name: Has_Garage, Length: 205, dtype: object

In [136]:
df['Has_Garage'] = df['Has_Garage'].replace({
    'Y': 'Yes', 'y': 'Yes', 'yes': 'Yes', 'YES': 'Yes',
    'N': 'No', 'n': 'No', 'no': 'No', 'NO': 'No'
})

In [137]:
df.Has_Garage

0      Yes
1       No
2      Yes
3       No
4      Yes
      ...
200     No
201    Yes
202     No
203    Yes
204    Yes
Name: Has_Garage, Length: 205, dtype: object

In [138]:
for col in ['Has_Garage']:
    df[col] = df[col].replace({"Yes":1,"No":0})

C:\Users\karan\AppData\Local\Temp\ipykernel_15808\410975737.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({"Yes":1,"No":0})

In [139]:
df.Has_Garage

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
200    0.0
201    1.0
202    0.0
203    1.0
204    1.0
Name: Has_Garage, Length: 205, dtype: float64

In [140]:
df.columns

Index(['Area_sqft', 'Bedrooms', 'Distance_to_city_km', 'Age_of_house_yrs',
       'Has_Garage', 'Price'],
      dtype='object')

In [141]:
df.Bedrooms

0          4
1          4
2      three
3      three
4          3
       ...
200    three
201        2
202    three
203        1
204    three
Name: Bedrooms, Length: 205, dtype: object

In [142]:
df['Bedrooms'] = df['Bedrooms'].replace({"three":3})
df['Bedrooms'] = pd.to_numeric(df['Bedrooms'],errors='coerce')

In [143]:
df['Bedrooms']

0      4.0
1      4.0
2      3.0
3      3.0
4      3.0
      ...
200    3.0
201    2.0
202    3.0
203    1.0
204    3.0
Name: Bedrooms, Length: 205, dtype: float64

In [144]:
df['Bedrooms'].isnull().sum()

np.int64(20)

In [145]:
df['Bedrooms'] = df['Bedrooms'].apply(lambda x: f"{x:g}")

In [146]:
df

,Area_sqft,Bedrooms,Distance_to_city_km,Age_of_house_yrs,Has_Garage,Price
0,3674,4,15.6,NaN,1.0,317552.0
1,1360 sqft,4,22.4,0.0,0.0,109379.0
2,1794,3,22.4,NaN,1.0,75053.0
3,1630,3,11.2,30.0,0.0,452662.0
4,1595 sqft,3,28.2,0.0,1.0,706282.0
...,...,...,...,...,...,...
200,2646 sqft,3,9.0,30.0,0.0,612288.0
201,1985,2,4.0,2.0,1.0,360914.0
202,2257,3,25.6,0.0,0.0,397739.0
203,3314,1,5.9,15.0,1.0,680235.0
204,3058,3,13.8,5.0,1.0,542313.0

In [147]:
df['Distance_to_city_km'] = df['Distance_to_city_km'].round().astype(float)

TypeError: Expected numeric dtype, got object instead.

In [ ]:
df['Distance_to_city_km']

0      16.0
1      22.0
2      22.0
3      11.0
4      28.0
       ...
200     9.0
201     4.0
202    26.0
203     6.0
204    14.0
Name: Distance_to_city_km, Length: 205, dtype: float64

In [ ]:
print(df['Distance_to_city_km'].unique())
print(df['Distance_to_city_km'].dtype)

[16. 22. 11. 28.  7. 14.  5. nan 21. 18.  9. 26. 12. 25.  3. 10. 30.  4.
 19. 15. 27.  6. 29. 23.  2. 20. 13.]
float64

In [ ]:
df['Distance_to_city_km'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: Distance_to_city_km, Length: 205, dtype: bool

In [ ]:
df

,Area_sqft,Bedrooms,Distance_to_city_km,Age_of_house_yrs,Has_Garage,Price
1,1360 sqft,4,22.0,0.0,0.0,109379.0
3,1630,3,11.0,30.0,0.0,452662.0
4,1595 sqft,3,28.0,0.0,1.0,706282.0
5,3592,2,7.0,15.0,1.0,148723.0
7,2669,4,14.0,15.0,0.0,322933.0
...,...,...,...,...,...,...
200,2646 sqft,3,9.0,30.0,0.0,612288.0
201,1985,2,4.0,2.0,1.0,360914.0
202,2257,3,26.0,0.0,0.0,397739.0
203,3314,1,6.0,15.0,1.0,680235.0
204,3058,3,14.0,5.0,1.0,542313.0

In [ ]:
print(df['Distance_to_city_km'].unique())
print(df['Distance_to_city_km'].dtype)

[22. 11. 28.  7. 14.  5. 21. 18.  9. 26. 25.  3. 16. 12. 30. 10.  4.  6.
 27. 19. 29. 23.  2. 13. 20. 15.]
float64

In [148]:
df['Distance_to_city_km'] = df['Distance_to_city_km'].fillna(0)

In [151]:
df['Distance_to_city_km'].dtype

dtype('O')

In [152]:
df['Distance_to_city_km'] = pd.to_numeric(df['Distance_to_city_km'], errors='coerce')

In [153]:
print(df['Distance_to_city_km'].dtype)

float64

In [164]:
df['Distance_to_city_km'] = pd.to_numeric(df['Distance_to_city_km'], errors='coerce').astype(float)

In [168]:
df['Distance_to_city_km'] = df['Distance_to_city_km'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [169]:
df = df.dropna(subset=['Distance_to_city_km'])
df['Distance_to_city_km'] = df['Distance_to_city_km'].astype(float).astype(int)

C:\Users\karan\AppData\Local\Temp\ipykernel_15808\1017511626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Distance_to_city_km'] = df['Distance_to_city_km'].astype(float).astype(int)

In [167]:
print(df['Distance_to_city_km'].unique)

<bound method Series.unique of 0      15.6
1      22.4
2      22.4
3      11.2
4      28.2
       ...
200     9.0
201     4.0
202    25.6
203     5.9
204    13.8
Name: Distance_to_city_km, Length: 205, dtype: float64>

In [ ]:
f

In [162]:
df['Distance_to_city_km']

0      15.6
1      22.4
2      22.4
3      11.2
4      28.2
       ...
200       9
201       4
202    25.6
203     5.9
204    13.8
Name: Distance_to_city_km, Length: 205, dtype: object